{% extends "base.html" %}

{% block title %}
    <title>
        Password Reset Complete - Your password has been set , go and login
    </title>
{% endblock title %}

{% block stylesheets %}
    {{block.super}}
    <style>
        .pass-reset-confirm{
            height: auto;
            min-height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            padding: 10px;
            border: 5px solid var(--color3);
            border-radius: 10px;
            background: var(--color2);
            color: var(--color3);
        }
    </style>
{% endblock stylesheets %}
{% block content %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3" style="border-radius:15px;">
                    <div class="pass-reset-confirm">
                        <h1>Password reset sent</h1> 
                        <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5><br>
                        <h6 style="width: 60%; margin: 0 auto">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}